@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Acme', sans-serif;
    

}
.section-heading{
    font-size: 12rem;
    font-weight: 900;
    color: #999;
    letter-spacing: .6rem;
    text-align: center;
    text-transform: capitalize;
    text-shadow: .3rem .3rem .3rem #000;
}
html{
    font-size: 65%;
}
body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
/**end of common style**/
.nav-bar{
    width: 100%;
    height: 17rem;
    position: fixed;
    background-color: #000;
    top: -16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100; 
    overflow: hidden;
    transition: top 1s ;   
}
.nav-item{
    display: flex;
    flex-direction: column;
    margin: 5rem;
    text-align: center;
    align-content: center;
}
nav i.ic{
    color: rgba(255, 69, 2, 0.932);
    font-size: 5rem;
}
nav  span.nav-name{
    font-weight: 700;
    color: #777;
    margin-top: 2rem;
    font-size: 2rem;
    letter-spacing: .2rem;
    text-transform: capitalize;
}
.menu{
    width: 3.5rem;
    height: 5rem;
    top: 5rem;
    left: 5rem;
    background-color: rgba(255, 69, 2, 0.932);
    box-shadow: .2rem .2rem .2rem .2rem #000;
    border-radius: 30rem 30rem 15rem 15rem;
    position: fixed;
    transition: top 1s .5s;
    cursor: pointer;
}
.menu::before{
    content: "";
    width: .3rem;
    height: 20rem;
    top: -20rem;
    background-color: #000;
    position: absolute;
    left: calc(50% - .15rem);
}
.nav-bar.target{
    top: 0;
    transition: top 1s .5s;
}
.menu.target{
    top: 20rem;
    transition: top 1s .2s;
}
/**section 1**/
.section-1{
    width: 100%;
    height: 100vh;
    background-color: #333;
    display: flex;
    justify-content: space-evenly;
    flex-direction:column;
    align-content: center;
    align-items: center;
}
.section-1-icons i{
    font-size: 25rem;
    position: absolute;
    transform: translate(-50%, -50%) scale(0); 
    color:rgba(255, 69, 2, 0.932);
}
.section-1-icons i.change{
    transform: translate(-50%, -50%) scale(1); 
}

/**end of section 1**/
/**start of section-2**/
.section-heading-2{
    font-size: 14rem;
    color: #888;
}
.section-2{
    background-color: #222;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    align-content: center;
    
}
.card-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    
}
.cards{
    width: 35rem;
    height: 45rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: orangered;
    padding: 3rem;
    margin: 10rem;
    border-radius: 2rem;
    box-shadow: 1rem 1rem 2rem  #000;
    transition: transform .8s;
}
.cards:hover{
   transform: translateY(-5rem);
}
.card-img{
    width: 90%;
    height: 90%;
    
}
.food-name{
    font-size: 3rem;
    padding: 2rem;
    text-shadow: .1rem .1rem .2rem  #000;
    text-transform: capitalize;
    letter-spacing: .2rem;
    text-align: center;
}
.food-btn{
    padding: 1.5rem;
    font-size: 2rem;
    background-color: black;
    border: none;
    color: #888;
    border-radius: 1rem;
    letter-spacing: .2rem;
    cursor: pointer;
    align-content: center;
}
/**end of section-2**/
/**start of section 3**/
.section-heading-3{
    font-size: 14rem;
    color: #888;
    text-align: center;
}
.section-3{
    padding: 5rem 0rem;
    background-color: #111;
    
}
.menu-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1rem;
    
}
.food-img{
    width: 25vw;
    height: 15vw;
    object-fit: cover;
    box-shadow: .3rem .3rem .1rem rgba(255, 69, 2, 0.932), 
    .5rem .5rem .1rem white,
    .6rem .6rem .1rem rgba(0, 0, 255, .8),
    .8rem .8rem .1rem  rgba(255, 69, 2, 0.932);
    transition: all .8s .3s;
}
.menu-card:hover .food-img{
    opacity: .3;
    filter: blur(.5rem);
    box-shadow: .8rem .8rem .1rem rgba(255, 69, 2, 0.932), 
    1.5rem 1.5rem .1rem white,
    2rem 2rem .1rem rgba(0, 0, 255, .8),
    2.5rem 2.5rem .1rem  rgba(255, 69, 2, 0.932);
    transition: all .5s;
    transform: scale(1.02);

}
.menu-card{
    position: relative;
    margin: 4rem;
    
}
    
.food-item{
    position: absolute;
    top:2rem;
    left:2rem;
    font-size: 3rem;
    text-transform: capitalize;
    color: #fff;
    letter-spacing: .2rem;
    overflow: hidden;
    width: 0;
    transition: width 1s;
    z-index: 10;
}
.menu-card:hover .food-item{
    width: 100%;
    transition: width 2s ;
}
.food-des{
    position: absolute;
    bottom: 3vw;
    font-size: 2rem;
    left:2rem;
    color: #fff;
    width: 70%;
    visibility: hidden;
    opacity: 0;
    letter-spacing: .1rem;
    transition: all 1s 0.2s;
}
.menu-card:hover .food-des{
  visibility: visible;
  opacity: 1;
  transition: all 1s 0.2s;
}
.menu-card::before{
    content: "";
    width:0.2rem;
    height: 0;
    position: absolute;
    background-color: white;
    left: 80%;
    top: 2vw;
    transition: height 1s;
    z-index: 20;
}
.menu-card:hover::before{
  height: 80%;
}
.menu-card::after{
    content: "";
    width: 0;
    height: 0.2rem;
    position: absolute;
    background-color: white;
    left: 1vw;
    top: 30%;
    transition: width 1s;
}
.menu-card:hover::after{
width: 90%;
}

/**end of section 3**/
/** start of section 4**/
.section-4{
    width: 100%;
    height: 30rem;
    background-color: #000;
    display: flex;
    justify-content: space-around;
    position: relative;
    padding: 5rem  0rem;
    align-items: flex-start;
}
.footer-name{
 color:rgba(255, 69, 2, 0.932);
 font-size: 4rem;
text-transform: capitalize;
letter-spacing: .2rem;
}
.footer-info{
    font-size: 2rem;
    color: #888;
    text-transform: capitalize;
    letter-spacing: .2rem;
}
.copy-right{
    font-size: 2rem;
    color: #888;
    text-transform: capitalize;
    letter-spacing: .2rem;
    position: absolute;
    bottom: 2rem;
    justify-content: center;
}
.sign-up-email{
    letter-spacing: .2rem;
    width: 30rem;
    height: 5rem;
    padding: 1rem;
    border: 1px  rgba(255, 69, 2, 0.932) solid;
    
}
.sign-up-email::placeholder{
    font-size: 2rem;
    color: rgba(255, 69, 2, 0.932);
}
.footer-form{
    display: flex;
    align-items: center;
}
.submit-btn{
    position: relative;
    left: -5rem;
    width: 3.5rem;
    height: 3.7rem;
    background-color: #000;
    color: rgba(255, 69, 2, 0.932);
    border: none;
}

/** end of section 4**/

@media (max-width:)
