@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Acme', sans-serif;

}
.section-heading-1{
    font-size: 14rem;
    color: #999;
    margin-top: -10rem;
}
html{
    font-size: 65%;
}
/**end of common style**/
/**section 1**/
.section-1{
    width: 100%;
    height: 100vh;
    background-color: #333;
    display: flex;
    justify-content: space-evenly;
    flex-direction:column;
    align-content: center;
    align-items: center;
}
.section-1-icons i{
    font-size: 25rem;
    position: absolute;
    transform: translate(-50%, -50%) scale(0); 
    color:rgba(255, 69, 2, 0.932);
}
.section-1-icons i.change{
    transform: translate(-50%, -50%) scale(1); 
}
/**end of section 1**/
/**start of section-2**/
.section-heading-2{
    font-size: 14rem;
    color: #888;
}
.section-2{
    background-color: #222;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    align-content: center;
    
}
.card-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    
}
.cards{
    width: 35rem;
    height: 45rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: orangered;
    padding: 3rem;
    margin: 10rem;
    border-radius: 2rem;
    box-shadow: 1rem 1rem 2rem  #000;
    transition: transform .8s;
}
.cards:hover{
   transform: translateY(-5rem);
}
.card-img{
    width: 90%;
    height: 90%;
    
}
.food-name{
    font-size: 3rem;
    padding: 2rem;
    text-shadow: .1rem .1rem .2rem  #000;
    text-transform: capitalize;
    letter-spacing: .2rem;
    text-align: center;
}
.food-btn{
    padding: 1.5rem;
    font-size: 2rem;
    background-color: black;
    border: none;
    color: #888;
    border-radius: 1rem;
    letter-spacing: .2rem;
    cursor: pointer;
    align-content: center;
}
/**end of section-2**/